---
email: "example@example.com"
login: "Admin"
first_name: "Иван"
second_name: "Иванов"
phone: "+7(123)123-12-12"
---
<html>

<head>
  <link rel="stylesheet" href="./styles.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div class="avabx">
    <img src="../static/avatar.jpg" class="cover">
  </div>
  <a class="backbtn" href="./chats.hbs">
      <span class="material-icons">arrow_back</span>
  </a>
  <div class="profile-box">
    <div>
      <label for="email">Почта</label>
      <input name="email" type="email" value={{email}}>
      <span class="material-icons">edit</span>
      <label for="login">Логин</label>
      <input name="login" type="text" value="{{login}}">
      <span class="material-icons">edit</span>
      <label for="first_name">Имя</label>
      <input name="first_name" type="text" value="{{first_name}}">
      <span class="material-icons">edit</span>
      <label for="second_name">Фамилия</label>
      <input name="second_name" type="text" value="{{second_name}}">
      <span class="material-icons">edit</span>

      <label for="phone">Номер телефона</label>
      <input name="phone" type="phone" value="{{phone}}">
      <span class="material-icons">edit</span>
    </div>
  </div>
</body>

</html>
